body {
  background-image: url("loginbackground.png");
  background-size: cover;
  font-family: sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}
  
  .container {
    background-color: #fff; 
    padding: 90px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(148, 158, 55, 0.1); 
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
     
  }
  
  
  h2 {
    text-align: center;
    margin-bottom: 5px;
    font-size: 50px;
  }
  
  p {
    text-align: left;
    margin-bottom: 30px;
    color: #777;
    font-size: small;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
  }
  
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #d1d416;
  }