

.stats {
    display: flex;
    justify-content: space-between;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
    margin: 5px;
}

.analytics {
    margin-top: 20px;
    background: white;
    padding: px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.chart-container {
    width: 70%;
    padding: 20px;
}
